<div class="box box-success">
    <div class="box-header">
        <i class="fa fa-global"></i>Medical Check-up
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="form-group">
                    <label>Customer ID</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="readonly" name="customer.name" [(ngModel)]="customer.name"/>
                        <a class="btn input-group-addon bg-green" data-toggle="modal" data-target="#modalCustomer" (click)="loadCustomer()">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Pet</label>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of pets">
                                    <td>
                                        <a data-dismiss="modal" (click)="choosePet(item)" class="btn btn-primary">
                                            <i class="fa fa-check"></i>
                                            choose 
                                        </a>
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.remark}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label>symptom {{pet.name }}</label>
                    <input type="text" class="form-control" readonly="readonly" value="{{pet.name}}"/>
                    <input type="text" class="form-control" name="symptom.symptom" [(ngModel)]="symptom.symptom" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group text-center">
                    <a class="btn btn-primary" (click)="saveSymptom()">
                        <i class="fa fa-check"></i>Save
                    </a>                
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header">
                <i class="fa fa-list-alt"></i>
                <label>Medical Check-up</label>
            </div>
            <div class="box box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Symptom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let checkUp of checkUps">
                            <td>
                                <a class="btn btn-danger" (click)="removeSymptom(checkUp)">
                                    <i class="fa fa-times"></i>
                                </a>&nbsp;
                                <a class="btn btn-primary" (click)="updateSymtom(checkUp)">
                                    <i class="fa fa-pencil"></i>
                                </a>&nbsp;
                                <a class="btn btn-primary" (click)="getMedicalSupply(checkUp)" data-toggle="modal" data-target="#modalMedicalSupply">
                                    <i class="fa fa-list"></i>
                                </a>&nbsp;
                                <a class="btn btn-primary" (click)="getHistory(checkUp)" data-toggle="modal" data-target="#modalHistory">
                                    <i class="fa fa-list"></i>
                                </a>
                            </td>
                            <td>{{checkUp.symptom}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalCustomer" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">
                    <i class="fa fa-plus"></i>&nbsp; Customer Information
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>code</th>
                            <th>Name</th>
                            <th>Tel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers">
                            <td>
                                <a data-dismiss="modal" (click)="chooseCustomer(customer)" class="btn btn-primary">
                                    <i class="fa fa-check"></i>
                                    choose 
                                </a>
                            </td>
                            <td>{{customer.code}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.tel}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="modalMedicalSupply" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">
                    <i class="fa fa-plus"></i>&nbsp; Medical Supplies
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>code</th>
                            <th>Name</th>
                            <th>Sale Price</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of medicalSupplies">
                            <td>
                                <a data-dismiss="modal" (click)="getPrescription(item)"  class="btn btn-primary" data-toggle="modal"  data-target="#modalMedicalSupplyDetail">
                                    <i class="fa fa-check"></i>
                                    choose 
                                </a>
                            </td>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.sale_price}}</td>
                            <td>{{item.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalMedicalSupplyDetail" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">
                    <i class="fa fa-plus"></i>&nbsp; Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                            <div class="form-group">
                                <label>QTY</label>    
                                <input type="text" name="qty" [(ngModel)]="prescription.qty" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label>Remark</label>
                                <input type="text" name="remark" [(ngModel)]="prescription.remark" class="form-control"/>
                            </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <button type="button" class="btn btn-primary" (click)="savePrescription()" data-dismiss="modal" >Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalHistory" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">
                    <i class="fa fa-plus"></i>&nbsp; Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>QTY</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of checkUpHistories">
                            <td>
                                <a data-dismiss="modal" class="btn btn-primary">
                                    <i class="fa fa-check"></i>
                                    choose 
                                </a>
                            </td>
                            <td>{{item.qty}}</td>
                            <td>{{item.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>