<div class="box box-success">
    <div class="box-header">
        <i classs="fa fa-user"></i> Medical Supply
    </div>
    <div class="box-body">
        <a class="btn btn-primary" data-toggle="modal" data-target="#modalMedicalSupply">
            <i class="fa fa-plus"></i>Add
        </a>
        <div>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id<th>
                    <th>Name<th>
                    <th>Remark<th>
                    <th>Cost price<th>
                    <th>Sale price<th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of med_supplies">
                    <td>
                        <a class="btn btn-danger"  (click)="deleteSupply(item)">
                            <i class="fa fa-times"></i>
                        </a>&nbsp;
                        <a class="btn btn-primary" (click)="infoSupply(item)" data-toggle="modal" data-target="#modalMedicalSupply">
                            <i class="fa fa-pencil" ></i>
                        </a>
                    </td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.remark}}</td>
                    <td>{{item.cost_price}}</td>
                    <td>{{item.sale_price}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalMedicalSupply" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title">
                    <i class="fa fa-plus"></i>&nbsp; Medical Supply Information
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="from-group">
                            <label>ID</label>
                            <input type="text" class="form-control" [(ngModel)]="id">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="from-group">
                            <label>Name</label>
                            <input type="text" class="form-control" [(ngModel)]="name">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="from-group">
                            <label>Cost Price</label>
                            <input type="text" class="form-control" [(ngModel)]="cost_price">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="from-group">
                            <label>Sell Price</label>
                            <input type="text" class="form-control" [(ngModel)]="sale_price">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-3 col-sm-4">
                        <div class="from-group">
                            <label>Remark</label>
                            <input type="text" class="form-control" [(ngModel)]="remark">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row text-center">
                    <button type="button" class="btn btn-primary" (click)="saveSupply()" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>